{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="m-5 d-flex">
  <div class="col-3 d-flex flex-column">
    <p class="fs-5 fw-bold">Search by category</p>
    <a href="{% url 'location_list' %}" 
      class="text-dark text-decoration-none border border-primary m-2 w-50 text-center">
      All</a>
    {% for tag in tags %}
      <a href="{% url 'tag' tag.id %}" 
      class="text-dark text-decoration-none border border-primary m-2 w-50 text-center">
      {{tag.name}}</a>
    {% endfor %}
  </div>
  <div class="row">
      {% for location in locations %}
      <div class="col-sm-6 mb-5">
        <div class="card" style="width: 25rem;  height:25rem;">
            <a class="text-decoration-none text-dark" href="{% url 'location_details' location.id %}">
            <img src="{{ location.image.url}}" class="card-img-top p-1" style="width: 100%;  height:15rem;" alt="#">
            <div class="card-body">
            <h5 class="card-title">{{location.l_name}}</h5>
            <p class="card-text"
            style="display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;">{{location.l_tagline}}</p>
            </div>
            </a>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock content %}

{% comment %} <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div> {% endcomment %}